@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap');


html {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    background: #EDF2EC;   
    }
    *, *::before *::after {
        box-sizing: inherit;
    }

/*header*/

.contener {
    background: #EDF2EC;
    width: 1220px;
    margin: 0 auto;
}

.navigation {
    font-family: 'Inika';
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 42px;
}
.list__menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    align-items: center
}
.list__name {
    margin-right: 46px;
}
.list__name:last-child {
    margin-right: 0;
}
.link__name {
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}
.link__name:hover {
    color:#E06733;
}

/*main*/ 

span {
    color: #499A18;
}
.top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.leafs {
    display: flex;
    flex-wrap: wrap;
    width: 448px;
    height: 407px;
}
.plants {
    display: flex;
    flex-wrap: wrap;
    width: 549px;
    height: 340px;
}
.plants h1 {
    font-family: 'inter';
    font-size: 45px;
    font-weight: 700px;
    line-height: 50px;
    width: 549px;
    height: 101px;
    color: #717171;;
}
.plants p {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400px;
    line-height: 35px;
    width: 525px;
    height: 105px;
    color: #636060;
}
.plants button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
}
.professional {
    padding-top: 93px;
    padding-bottom: 94px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 479px;
    margin-top: 93px;
    
}
.pro {
    display: flex;
    flex-wrap: wrap;
    width: 605px;
    height: 350px;
}
.pro h2 {
    color: #E06733;
    max-width: 463px;
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 400px;
    line-height: 52px;
    text-align: left;
}
.pro p {
    font-family: 'Inter';
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    
}
.house img{
    width: 464px;
    height: 479px;
}
.all {
    width: 1440px;
    margin: 0 auto;
    background: white;
}
.service {
    margin-left: 109px;
    width: 1007px;
    height: 94px;
}
.service__info {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1007px;
    height: 94px;
}
.service__info h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight: 400px;
    line-height: 52px;
    max-width: 306px;
    font-family: 'Inika';
}
.service__button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    color: #E06733;
    margin-left: 38px;
    font-family: 'Inika';
    font-size: 20px;
    font-weight: 400px;
    line-height: 26px;
}
.service__button:last-child {
    margin-right: 0;
}
.service__img {
    width: 1220px;
    height: 955px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2,auto);
    grid-gap: 45px;
    margin-top: 90px;
    justify-content:space-between;
    margin-left: 109px;
 }
.img__serv {
    width: 330px;
    height: 450px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}
.img__serv h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    text-align: center;
    color: #E06733;
    margin-top: 10px;
}
.img__serv p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    text-align: center;
    color: #717171;
    margin-top: 10px;
}
.prices {
    width: 1440px;
    height: 560px;
    background: white;
    margin-top: 119px;
}
.prices__all {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.prices__left h2 {
    width: 135px;
    height: 49px;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
    text-align: left;
    color: black;
    padding-top: 40px;
    padding-left: 109px;
}
.prices__left form {
    width: 332px;
    height: 282px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    text-align: center;
    margin-top: 60px;
    margin-left: 109px;
}
.prices__left select {
    margin-top: 34px;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    border-radius: 20px;
    padding-left: 40px;
}
.prices__right h2 {
    width: 452px;
    height: 103px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    margin-left: 380px;
    margin-top: 40px;
}
.prices__right button {
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-left: 670px;
    margin-top: 38px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 700px;
    color: #E06733;
}
.prices__right img {
    margin-top: 39px;
    width: 152px;
    height: 175px;   
    margin-left: 680px;
}
.contact {
    width: 1440px;
    height: 550px;
}
.contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: initial;
}
.contact__info img {
    display: flex;
    padding-left: 109px;
    padding-top: 53px;
    width: 400px;
    height: 497px;
}
.contact__info h2 {
    display: flex;
    width: 195px;
    height: 51px;
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 700px;
    text-align: left;
    padding-top: 60px;
}
.contact__info select {
    display: flex;
    width: 450px;
    height: 40px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400px;
    text-align: left;
    padding-left: 20px;
}
.contact__info form {
    margin-top: 148px;
    margin-right: 109px;
}

/* footer */

.footer {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 130px;
    font-family: "inter";
}
.footer__date {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.footer__social {
    margin-left: 30px;
}
.footer__sity a{
    text-decoration: none;
    color: #000000;
    text-align: center;
}
